.flex-container {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap:wrap;
  padding: 4%;
  position: sticky;
  top:0;
  width:100%
} 

.btn-primary{
  font-size: 30px;
  width: 150px;
}


h1{
  font-size: 2.5vw;
}






